<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../Scripts/app.js"></script>
    <script src="../Scripts/controller.js"></script>
    <link rel="stylesheet" href="../Content/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="MusicCtrl" class="container" ng-init="init()">
        <div class="row">
            <!--<emaudio-->
                    <!--data-album="{{avataLink}}"-->
                    <!--data-url="{{musicLink}}"-->
                    <!--data-title="{{title}}" data-artist="{{artist}}">-->

            <!--</emaudio>-->
         <div class="audio-container col-sm-5 col-md-4">
            <div class="album-container col-sm-12">
                <img  ng-src="{{avataLink}}"/>
            </div>
             <span class="audio-controls">
                <div class="audio-row col-sm-12"> {{title}} - {{artist}} </div>
                <div class="audio-row col-sm-12">
                    <span class="audio-play col-sm-2" ng-click="play()">{{isplaying ? "&#9724;" : "&#9658;"}} </span>
                    <div class="col-sm-7">
                        <div class="progress " ng-mousedown="setTime($event)" ng-mouseup="reset()">
                            <div class="bar" ng-style="barstyle"></div>
                        </div>
                    </div>
                    <span class="audio-time">{{duration}}</span>
                </div>
             </span>
         </div>

            <div class="list col-sm-7 col-md-8" style="color:white">
                <ul ng-model="a">
                    <li ng-repeat="a in audios" class="col-sm-12" ng-click="select(a)" >
                        <div class="title col-sm-10" ng-class="{'selected':selected==a.id}">{{$index+1}}. {{a.title}} - {{a.artist}}</div>
                        <div class="icon  col-sm-2"><i class="glyphicon glyphicon-remove"   ></i></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>